html, body {
    width: 100vw;
    overflow-x: hidden;
}

.nav {
    background-color: rgb(56, 63, 30) !important;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.container, .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.active {
    color: rgb(255, 255, 255);
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700 !important;
}

.listLinks a {
    color: white !important;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}

#carouselExample {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.carousel {
    margin-top: 120px;
}

.carousel-item {
    transition: transform 2.5s ease-in-out;
    width: 100vw;
}

.carouselPic {
   width: 100%;
   height: 70vh;
   object-fit: cover;
}

#about {
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}



/* Left Side (images) */
.aboutImages {
    display: flex;
    width: 50%;
    justify-content: space-between;
    gap: 20px;
}

.aboutImages img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

/* Right side (text) */
.aboutText {
    width: 50%;
    text-align: center;
    margin: auto;
}

.aboutText h3 {
    font-size: 52px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

.aboutText p {
    font-size: 14px;
    line-height: 1.5;
    color: gray;
    letter-spacing: .15rem;
}

.aboutBtn {
    padding: 10px 20px;
    margin: 10px auto auto;
    font-size: 16px;
    font-weight: 500;
    background-color: #ff9f10;
    color: #fff;
    border: 2px solid #ff9f10;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.aboutBtn:hover {
    background-color: #e76e3d;
}

#quote {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.5rem;
    display: grid;
    margin: auto;
}

.quotation {
    font-size: 180px;
    height: 125px;
    color: #ff9f10;
}

.quoteH3 {
    text-align: center;
    color: #004225;
    text-transform: uppercase !important;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: "Bebas Neue", sans-serif;
}

.pCite {
    text-align: center;
    color: #0c0c0c;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

.quotationEnd {
    color: #ff9f10;
    font-size: 180px;
    height: 125px;
    text-align: end;
    position: relative;
    top: -30px;
    margin-top: -80px;
}

#services {
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.serviceImgs {
    display: flex;
    width: 50%;
    justify-content: space-between;
    gap: 20px;
}

.serviceImgs img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.serviceOfferings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    width: 50%;
    text-align: center;
    height: auto;
    margin: auto;
}

.offering:nth-child(1) {
    grid-column: 1 /2 ;
    grid-row: 1 / 2;
}

.offering:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.offering:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}

#favorites {
    padding: 50px;
}

.favDishes {
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    color: #333333;
    margin: 20px 0 10px;
}

.favoritesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}
.item:hover {
    box-shadow: 0 2px 5px -1px #32325d40;
}

.item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 45%;
    max-width: 45%;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 4px #00000029;
}

.img {
    width: 15%;
}

.img img {
    width: 100%;
    height: 5rem;
    object-fit: cover;
    border-radius: 10px;
}

.itemName {
    width: 85%;
    display: grid;
    align-items: center;
}

.itemName div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.itemName div h3 {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.itemName div span {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.itemName p {
    font-size: 14px;
    color: #444343;
    margin: 0;
}

#footer {
    padding: 2.5rem;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 63, 30);
}

.footerLogo {
    width: 33%;
    display: grid;
    gap: 20px;
}

.footerLogo img {
    width: 90px;
    margin: auto;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.socials a img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    margin: auto;
}

.contact {
    width: 33%;
    display: grid;
    gap: 20px;
}

.contact a {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
}

.closingLiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-top: 1px solid gray;
    background-color: rgb(56, 63, 30);
}
.closingLiner p {
    color: #fff;
    margin: 0;
}

.closingLiner a {
    color: #fff;
    margin: 0;
}

/* ============================
/* Responsive Design */

@media (max-width: 575px) {
    .carouselPic {
        height: 200px;
    }
    #about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }
    .aboutImages {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .aboutImages img {
        width: 90%;
        max-width: 300px;
        
    }
    .aboutText {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .aboutText h3 {
        font-size: 36px;
    }
    .aboutText p {
        font-size: 14px;
        line-height: 1.5;
        padding: 0 10px;
    }
    .aboutBtn {
        width: 80%;
        padding: 12px;
        font-size: 16px;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    #about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }
   
    .aboutImages {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .aboutImages img {
        width: 80%;
    }
    .aboutText {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    #services {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }

    .serviceImgs {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .serviceImgs img {
        width: 90%;
        max-width: 300px;
    }
    .serviceOfferings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto autoc;
        gap: 10px;
        width: 90%;
        max-width: 400px;
        margin: auto;
    }
    .offering {
        background: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 1px 4px #00000029;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .offering img {
        width: 50px;
        height: 50px;
    }
    .offering h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 10px 0;
    }
    .offering:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .offering:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .offering:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        width: 80%;
    }

    .favoritesContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .item {
        width: 90%;
        max-width: 500px;
        padding: 15px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 1px 4px #00000029;
    }
    .img {
        width: 100%;
        padding: 10px;
    }
    .img img {
        width: 100%;
        height: auto;
        max-height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    .itemName {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .itemName div {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .itemName h3 {
        font-size: 22px;
        font-weight: 600;
        margin: 5px 0;
    }
    .itemName span {
        font-size: 18px;
        font-weight: 600;
        color: #000;
    }
    #footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
        gap: 30px;
    }
    .footerLogo {
        width: 100%;
    }
    .socials {
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact {
        width: 100%;
        text-align: center;
    }
    .contact a {
        justify-content: center;
    }
    .closingLiner {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    #services {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }
    .serviceImgs {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .serviceImgs img {
        width: 80%;
        /* max-width: 300px; */
    }
    .serviceOfferings {
        padding-top: 40px;
    }
}

@media (max-width: 575px) {
    #services {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }
    .serviceImgs {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .serviceImgs img {
        width: 90%;
        max-width: 300px;
    }
}

@media (max-width: 430px) {
    .quotation {
        /* top: 0;
        margin-top: 20px;
        display: block; */
        /* margin-top: -30px; */
        position: relative;
        top: -20px;
        left: -20px;
    }
    .quotationEnd {
        top: 0;
        /* margin-top: 20px; */
        /* text-align: center; */
        /* display: block; */
    }
}

/* Menu page */
.main {
    background-color: rgb(255, 159, 16);
}
.menu {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.mainImg img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.mainText {
    top: 250px;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.mainText h3 {
    color: #fff;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}

.mainMenu {
    padding-top: 35px;
}

.menuOptions {
    margin: 20px 110px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #263a00;
    padding: 10px;
    justify-content: center;
}

.menuBtns {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.all {
    margin: 10px;
    background: #0000;
    border: 1px solid;
}
.highlight {
    background-color: #263a00;
    color: #fff;
}

.divider {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
.exp {
    padding-left: 100px;
    padding-right: 100px;
}

.menuSections {
    padding-left: 100px;
    padding-right: 100px;
}

/* #appetizers {

} */

.sectionText {
    display: flex;
    justify-content: space-between;
}
.sectionText h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.png {
    display: flex;
    justify-content: flex-start;
}

.openCloseBtn {
    display: flex;
}

.openClose {
    padding: 0 17px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    font-size: 30px;
    background-color: initial;
}

.inner-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.main-container {
    flex: 0 0 23%;
    max-width: 23%;
    text-align: center;
    margin: 25px 10px;
}

.logo {
    width: 100%;
    margin-bottom: 10px;
}

.logo img {
    border-radius: 8px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.content h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    overflow-wrap: break-word;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

.content p {
    color: #444343;
    margin-bottom: 20px;
}

.content p span {
    font-size: 20px;
    font-weight: 600;
}
.comboP {
    color: #444343;
    margin-bottom: 20px;
    font-size: 13px;
}